---
openapi: 3.0.0
servers:
    - url: https://tools.vaayne.com
    - url: http://localhost:8787
info:
    version: 1.0.0
    title: Tool APIs in Cloudflare Workers
components:
    securitySchemes:
        Bearer:
            type: http
            scheme: Bearer
    schemas:
        Error:
            type: object
            properties:
                code:
                    type: integer
                    example: 400
                message:
                    type: string
                    example: Bad Request
            required:
                - code
                - message
        ErrorResponse:
            type: object
            properties:
                success:
                    type: boolean
                    default: false
                errors:
                    type: array
                    items:
                        $ref: "#/components/schemas/Error"
            required:
                - success
                - errors
        WebReaderResponseData:
            type: object
            properties:
                title:
                    type: string
                    example: Example Page Title
                url:
                    type: string
                    example: https://example.com
                content:
                    type: string
                    example: This is the content of the page
                description:
                    type: string
                    example: This is the description of the page
            required:
                - title
                - url
                - content
        WebSearcherResponseData:
            type: array
            items:
                $ref: "#/components/schemas/WebReaderResponseData"
        WebSummaryResponseData:
            type: object
            properties:
                data:
                    type: string
                    example: Summary text
            required:
                - data
        PansearchResponseData:
            type: array
            items:
                $ref: "#/components/schemas/PansearchResponseItemData"
        PansearchResponseItemData:
            type: object
            properties:
                id:
                    type: number
                    example: 188382
                content:
                    type: string
                    description:
                        Detailed description of the content, including metadata and
                        links.
                    example:
                        "名称：黑暗物质  His <span class='highlight-keyword'>Dark</span> Materials
                        (2019) \n1-3季全 4K 2160P\n\n描述：故事发生在不同于现实的异世界中。在这个世界中，所有的人类均拥有被称为守护精灵的动物同伴，这些动物是人类灵魂的具象体现。女主角莱拉·贝拉奎亚成长于英国牛津的约旦学院。在她前往伦敦寻找失踪的朋友罗杰的过程中，莱拉发现一系列儿童失踪事件与神秘物质尘埃有所关联。随着故事展开，她还发现了涉及到阿斯瑞尔勋爵和玛莉莎·库尔特的危险秘密。\n\n链接：<a
                        class=\"resource-link\" target=\"_blank\" href=\"https://www.aliyundrive.com/s/8HCpGkERD77\">https://www.aliyundrive.com/s/8HCpGkERD77</a>\n\n\U0001F4C1
                        大小：N\n\U0001F3F7 标签：#黑暗物质 #英剧 #BBC\n\U0001F389 来自：雷锋\n\U0001F4E2 频道：@Aliyundrive_Share_Channel\n\U0001F465
                        群组：@alyd_g\n\U0001F916 投稿：@AliYunPanBot"
                pan:
                    type: string
                    example: aliyundrive
                image:
                    type: string
                    example: https://cdn.pansearch.me/resources/f64ed3eb3970cf50d883033532094de3.jpg
                time:
                    type: string
                    example: "2023-06-12T15:13:06+08:00"
            required:
                - id
                - content
                - pan
                - image
                - time
            example:
                - id: 1
                  content: sample content
                  pan: aliyundrive
                  image: https://example.com/image.jpg
                  time: "2023-10-01T12:00:00Z"
    parameters: {}
    responses:
        CommonErrorResponse:
            description: Erro response
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/ErrorResponse"
paths:
    "/api/tools/web-reader":
        get:
            description: Retrieve LLM-friendly content from a URL.
            security:
                - Bearer: []
            parameters:
                - schema:
                      type: string
                      format: uri
                      description: URL to retrieve content from.
                      example: https://example.com
                  required: true
                  name: url
                  in: query
            responses:
                "400":
                    $ref: "#/components/responses/CommonErrorResponse"
                "401":
                    $ref: "#/components/responses/CommonErrorResponse"
                "403":
                    $ref: "#/components/responses/CommonErrorResponse"
                "500":
                    $ref: "#/components/responses/CommonErrorResponse"
                "200":
                    description: Returns the content of a web page
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        default: true
                                    data:
                                        $ref: "#/components/schemas/WebReaderResponseData"
                                required:
                                    - data
                                    - success
    "/api/tools/web-search":
        get:
            description:
                Search the web and return the top five results with their URLs
                and contents, each in clean, LLM-friendly text.
            security:
                - Bearer: []
            parameters:
                - schema:
                      type: string
                      minLength: 5
                      description: The query to search for
                      example: how to build a website
                  required: true
                  name: query
                  in: query
            responses:
                "400":
                    $ref: "#/components/responses/CommonErrorResponse"
                "401":
                    $ref: "#/components/responses/CommonErrorResponse"
                "403":
                    $ref: "#/components/responses/CommonErrorResponse"
                "500":
                    $ref: "#/components/responses/CommonErrorResponse"
                "200":
                    description: Returns the content of a web page
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        default: true
                                    data:
                                        $ref: "#/components/schemas/WebSearcherResponseData"
                                required:
                                    - data
                                    - success
    "/api/tools/web-summary":
        get:
            description: Use LLM to read and summarize a web page.
            security:
                - Bearer: []
            parameters:
                - schema:
                      type: string
                      format: uri
                      description: The URL of the page to summarize
                      example: https://example.com
                  required: true
                  name: url
                  in: query
                - schema:
                      type: string
                      description: Whether to stream the response
                      example: false
                  required: false
                  name: stream
                  in: query
                - schema:
                      type: string
                      description: The content of the page to summarize
                      example: This is the content of the page
                  required: false
                  name: page_content
                  in: query
            responses:
                "400":
                    $ref: "#/components/responses/CommonErrorResponse"
                "401":
                    $ref: "#/components/responses/CommonErrorResponse"
                "403":
                    $ref: "#/components/responses/CommonErrorResponse"
                "500":
                    $ref: "#/components/responses/CommonErrorResponse"
                "200":
                    description: Returns a summary of a web page
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        default: true
                                    data:
                                        $ref: "#/components/schemas/WebSummaryResponseData"
                                required:
                                    - data
                                    - success
                        text/event-stream:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        default: true
                                    data:
                                        $ref: "#/components/schemas/WebSummaryResponseData"
                                required:
                                    - data
                                    - success
    "/api/tools/alipan-search":
        get:
            description:
                Search for files and resources within AliYunPan (web drive) using
                keyword.
            parameters:
                - schema:
                      type: string
                      minLength: 1
                      description: query to search for.
                      example: loki
                  required: true
                  description: The search term used to find relevant content.
                  name: query
                  in: query
            responses:
                "400":
                    $ref: "#/components/responses/CommonErrorResponse"
                "401":
                    $ref: "#/components/responses/CommonErrorResponse"
                "403":
                    $ref: "#/components/responses/CommonErrorResponse"
                "500":
                    $ref: "#/components/responses/CommonErrorResponse"
                "200":
                    description: The search results
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                        default: true
                                    data:
                                        $ref: "#/components/schemas/PansearchResponseData"
                                required:
                                    - data
                                    - success
