@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 11 40% 98%;
		--foreground: 11 68% 5%;
		--muted: 191 39% 85%;
		--muted-foreground: 191 15% 33%;
		--popover: 11 40% 98%;
		--popover-foreground: 11 68% 5%;
		--card: 11 40% 98%;
		--card-foreground: 11 68% 5%;
		--border: 11 5% 93%;
		--input: 11 5% 93%;
		--primary: 11 89% 25%;
		--primary-foreground: 11 89% 85%;
		--secondary: 191 89% 25%;
		--secondary-foreground: 0 0% 100%;
		--accent: 191 89% 25%;
		--accent-foreground: 0 0% 100%;
		--destructive: 12 88% 42%;
		--destructive-foreground: 0 0% 100%;
		--ring: 11 89% 25%;
		--chart-1: 11 89% 25%;
		--chart-2: 191 89% 25%;
		--chart-3: 191 89% 25%;
		--chart-4: 191 89% 28%;
		--chart-5: 11 92% 25%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 11 42% 1%;
		--foreground: 11 33% 100%;
		--muted: 191 39% 15%;
		--muted-foreground: 191 15% 67%;
		--popover: 11 42% 1%;
		--popover-foreground: 11 33% 100%;
		--card: 11 42% 1%;
		--card-foreground: 11 33% 100%;
		--border: 11 5% 15%;
		--input: 11 5% 15%;
		--primary: 11 89% 25%;
		--primary-foreground: 11 89% 85%;
		--secondary: 191 89% 25%;
		--secondary-foreground: 0 0% 100%;
		--accent: 191 89% 25%;
		--accent-foreground: 0 0% 100%;
		--destructive: 12 88% 53%;
		--destructive-foreground: 0 0% 100%;
		--ring: 11 89% 25%;
		--chart-1: 11 89% 25%;
		--chart-2: 191 89% 25%;
		--chart-3: 191 89% 25%;
		--chart-4: 191 89% 28%;
		--chart-5: 11 92% 25%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply font-sans antialiased bg-background text-foreground;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
